*.py[co]
__pycache__/*
# VIM: Swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

#pytest cache
*.pytest_cache/
*.cov
*.coverage
*htmlcov/

*~
db.sqlite3
static/*
.idea
.project
.settings/
.pydevproject
*.log*
*DS_Store
local_settings.py
